---
import Telegram from '../assets/telegram.svg'
import Viber from '../assets/viber.svg'
import Whatsapp from '../assets/whatsapp.svg'
---

<div
  class="flex flex-col md:flex-row absolute top-0 left-0 right-0 bg-[#00000060] px-10 md:px-40 py-6 justify-between"
>
  <h3 class="text-white">Auto doc ua</h3>
  <div class="space-x-5 flex z-20">
    <a href="http://t.me/serviscentrmvs" class="text-white flex items-center cursor-pointer"><img src={Telegram} alt="telegram app" class="w-8 inline"> Telegram</a>
    <a href="https://invite.viber.com/?g2=AQAjludGR3WLuE%2FQNSh%2FyZhgl4lFYHYLGTO5r75D%2F83pZkq5A7XZ%2FfIjmJvAfYXN" class="text-white flex items-center cursor-pointer"><img src={Viber} alt="viber app" class="w-8 inline">Viber</a>
    <a href="https://wa.me/+380960269277" class="text-white flex items-center cursor-pointer"><img src={Whatsapp} alt="whatsapp app" class="w-8 inline">Whatsapp</a>
  </div>
</div>
